.cart {
  display: flex;
  justify-content: space-between;
  background-color: rgb(24, 14, 14, 0.5);
  border-radius: 5px;
  color: rgb(86, 218, 174);
  &-text {
    width: 60%;
    margin: 10px;
  }
  &-img {
    width: 15%;
    height: max-content;
    margin-bottom: 10px;
  }
  &-close {
    margin: 10px;
    &:hover {
      cursor: pointer;
    }
  }
  &-body {
    background: url("https://img.freepik.com/free-vector/wine-menu-card_1085-343.jpg?w=1480&t=st=1686346615~exp=1686347215~hmac=b45c8691d4e2ffc6995f82c16ab811adc1ac9fec3bb0a059adee1c4d0b723b23");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  border-bottom: 2px solid #ccc;
}
