.favourites {
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  &-text {
    width: 60%;
    margin: 10px;
    color: rgb(233, 255, 92);
  }
  &-img {
    width: 15%;
    height: max-content;
    margin-bottom: 10px;
  }
  &-close {
    color: rgb(146, 146, 0);

    &:hover {
      cursor: pointer;
    }
  }
  &-body {
    background: url("https://img.freepik.com/free-vector/wine-heart-shaped_1085-348.jpg?w=1480&t=st=1686377724~exp=1686378324~hmac=2ca0c49f592dbcc5ae05653eb2a4a61e41483b07dd4cb4d89596e627e7ba04ca")
      no-repeat;
    background-size: cover;
    background-position: center;
  }
  border-bottom: 2px solid #ccc;
}
